<!DOCTYPE html>
<html>
  <head>
    <title>EVERYLEAFApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <body>
      <% flash.each do |message_type, message| %>
      <%= message %>
      <% end %>
      <%= yield %>
    </body>
  </html>
